{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
      <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}


We'd like to know who voted here!

<form class="" action="{% url 'polls:addvoter' %}" method="post">

  {% csrf_token %}

First name: <input type="text" name="fname"><br>
Last name: <input type="text" name="lname"><br>

<input type="submit" value="Submit">
</form>
